<html>

<head>
    <link rel="stylesheet" href="layout.css">
    <title>Demo Layout 1</title>

</head>

<body>
    <div>
        <div id="R1">
            <label id="logo">LOGO</label>
        </div>
        <div id="R2">
            <label id="navigation">Navigation</label>
        </div>
        <div id="R3">
            <label id="header">Header/Banner</label>
        </div>
        <div id="R4">
            <div id="R4C1">
                <label id="side-bar">Side Bar</label>
            </div>
            <div id="R4C2">
                <label id="area">Body Area</label>
            </div>
        </div>
        <div id="R5">
            Footer
        </div>
    </div>
</body>

</html>